%p
  Asset Type: #{asset.type}
  %br/
  Serial Number: #{asset.serial_number}
  %br/
  Available: #{asset.available ? 'Yes' : 'No'}
  %br/
  - unless asset.available
    Assigned to: #{user.username}, with Employee ID: #{user.employee_id}
    %br/
  Last time updated: #{Time.at(asset.updated_at).strftime('%F')}
