<h1>Asset</h1>
<a href="/assets">Go home</a>
<p>
  <% available = @asset['available'] == 1 ? true : false %>
  Asset Type: <%= @asset['type'] %> </br>
  Serial Number: <%= @asset['serial_number'] %> </br>
  Available: <%= available ? 'Yes' : 'No' %> </br>
  <% unless available %>
    User: <%= @asset['username'] %>
  <% end %>
  Last time updated:
  <%= Time.at(@asset['updated_at']).strftime('%F') %>
</p>
<form action="/assets/<%= @asset['id'] %>/edit">
  <button type="submit">Edit</button>
</form>
