%h1 Assets List
- @errors&.each do |error|
  %p= error
%form{action: "/logout", method: "post"}
  != csrf_tag
  %button{type: "submit"} Logout
%a{href: "/assets/new"} Add new asset
%ul
  - @assets.each do |a|
    %li
      != partial('_asset', asset: a)
      %form{
        action: "/assets/#{a.id}",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %input{type: "hidden", name: "_method", value: "delete"}
        %button{type: "submit", disabled: !allowed_to?(:destroy?, a)} Delete
      %form{
        action: "/assets/#{a.id}/edit",
        style: "display: inline;"
      }
        != csrf_tag
        %button{type: "submit", disabled: !allowed_to?(:update?, a)} Edit
      %form{
        action: "/assets/#{a.id}/#{a.available ? 'request' : 'unassign'}",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %button{
          type: "submit",
          disabled: a.available ? !allowed_to?(:request?, a) : !allowed_to?(:unassign?, a)
        }
          = a.available ? 'Request' : 'Unassign'
