<h1>Assets Listing</h1>
<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>
<a href="/assets/new">Add new asset</a>
<ul>
  <% @assets.each do |a| %>
    <% available = a['available'] == 1 ? true : false %>
    <li>
      <p>
        Asset Type: <%= a['type'] %> </br>
        Serial Number: <%= a['serial_number'] %> </br>
        Available: <%= available ? 'Yes' : 'No' %> </br>
        <% unless available %>
          User: <%= a['username'] %>
        <% end %>
        <form
          action="/assets/<%= a['id'] %>"
          method="post"
          style="display: inline;">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete</button>
        </form>
        <form
          action="/assets/<%= a['id'] %>/edit"
          style="display: inline;">
          <button type="submit">Edit</button>
        </form>
      </p>
    </li>
  <% end %>
</ul>
