%h1 Assets List
- @errors&.each do |error|
  %p= error
%form{action: "/logout", method: "post"}
  != csrf_tag
  %button{type: "submit"} Logout
%a{href: "/assets/new"} Add new asset
%ul
  - @assets.each do |asset, user|
    %li
      != partial('_asset', asset: asset, user: user)
      %form{
        action: "/assets/#{asset.id}",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %input{type: "hidden", name: "_method", value: "delete"}
        %button{type: "submit", disabled: !allowed_to?(:destroy?, asset)} Delete
      %form{
        action: "/assets/#{asset.id}/edit",
        style: "display: inline;"
      }
        != csrf_tag
        %button{type: "submit", disabled: !allowed_to?(:update?, asset)} Edit
      %form{
        action: "/assets/#{asset.id}/#{asset.available ? 'request' : 'unassign'}",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %button{
          type: "submit",
          disabled: asset.available ? !allowed_to?(:request?, asset) : !allowed_to?(:unassign?, asset)
        }
          = asset.available ? 'Request' : 'Unassign'
