%h1 Pending Asset Requests
%ul
  - @assets.each do |asset, requesting_user|
    %li
      %p
        - if asset.user_id
          Asset already assigned to an employee
          %br
        = asset.type
        %br
        Serial Number: #{asset.serial_number}
        %br
        Requested by: #{requesting_user.username}
        %br
      %form{
        action: "/assets/#{asset.id}/assign",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %input{
          type: "hidden",
          name: "requesting_user_id",
          value: requesting_user.id
        }
        %button{type: "submit"}= asset.user_id ? 'Reassign' : 'Assign'
      %form{
        action: "/assets/#{asset.id}/reject",
        method: "post",
        style: "display: inline;"
      }
        != csrf_tag
        %input{
          type: "hidden",
          name: "requesting_user_id",
          value: requesting_user.id
        }
        %button{type: "submit"} Reject
